@import "../../theme";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

.header-truesight-icon {
    fill: white;
    width: 30px;
    height: 40px;
    margin-right: 6px;
}


.titleContainer {
	display: inline-flex;
	align-items: center;
	padding: 20px;
}

.title {
	color: $light;
	margin-right: 6px;
	font-size: 20px;
}

.subtitle {
	color: $light;
	margin-right: 6px;
	font-size: 14px;
	font-family: 'IBM Plex Serif', serif;
}

.titleLink {
	color: $light;
	font-size: 16px;
}
