@import "../../theme";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

.header-truesight-icon {
    fill: white;
    width: 30px;
    height: 40px;
    margin-right: 6px;
}


.titleContainer {
	display: inline-flex;
	align-items: center;
	padding: 20px;
}

.title {
	color: $light;
	margin-right: 6px;
	font-size: 20px;
}

.subtitle {
	color: $light;
	margin-right: 6px;
	font-size: 14px;
	font-family: 'IBM Plex Serif', serif;
}

.titleLink {
	color: $light;
	font-size: 16px;
}

.badge {
	color: white;
	background-color: darken(#F3BF1E, 15);
	font-size: 12px;
	padding: 2px 7px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin: -10px 0 0 10px;
}
