@import "../../theme";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

.example3-rect {
	stroke: $light;
	stroke-width: 1%;
	stroke-dasharray: 10, 6;
	fill: none;
	animation:
		example3-animation
		2.5s
		linear
		infinite;
}

.example3-rect:nth-of-type(odd) {
	animation-direction: reverse;
}

@keyframes example3-animation {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 16%;
	}
}

.spinnerSVG {
	width: 270px;
}

.spinnerLabel {
	margin-top: -50px;
	margin-bottom: 10px;
	font-size: 26px;
	color: $light;
}

.spinnerMessage {
	color: $light;
	font-family: 'IBM Plex Serif', serif;
}