.uploadOuterContainer {
	margin-top: 50px;
}

.submitButton {
	margin-top: 20px;
}

.uploadImage {
	max-width: 200px;
}

.uploadContainer {
	max-width: 700px;
	text-align: left;
	margin-bottom: 10px;
}

.uploadImageForm {
	margin-top: 10px;
	text-align: center;
}