@import "../../theme";

.galleryPage {
	display: flex;
	max-width: 900px;
	min-height: 600px;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

.galleryImageContainer {
	padding: 10px;
	width: 250px;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.warningLabel {
	position: absolute;
	background-color: $violet;
	color: $light;
	border-radius: 3px;
	padding: 2px 8px;
	display: inline-block;
	z-index: 2;
	margin: auto;
	top: 15px;
	left: 35px;
	font-size: 12px;
}

.ant-image-img {
	width: auto !important;
}

.imageContainer {
	overflow: hidden;
	height: 190px;
	width: 190px;
	border: solid $light 2px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	box-shadow: rgba(darken($violet, 5), 0.3) 5px 5px, rgba(darken($violet, 5), 0.2) 10px 10px, rgba(darken($violet, 5), 0.1) 15px 15px, rgba(darken($violet, 5), 0.05) 20px 20px, rgba(darken($violet, 5), 0.02) 25px 25px;
}

.blurImage {
	filter: saturate(0.1) blur(12px);
}

.image-green-truesight-icon {
	fill: #298048;
  width: 30px;
  height: auto;
	position: absolute;
	z-index: 1;
	bottom: 20px;
	right: 40px;
	margin: auto;
	opacity: 0.3;
}

.labelContainer {
	display: inline-flex;
	position: absolute;
	z-index: 1;
	margin: auto;
	bottom: 20px;
	right: 40px;
	flex-direction: column;
}

.moderationLabel {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-top: 4px;
	font-weight: bold;
}

.moderationLabel > .ant-progress {
	margin-left: 5px;
}

.labelTitle {
	font-size: 12px;
}