@import "../../theme";

.galleryPage {
	display: flex;
	max-width: 900px;
	min-height: 600px;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

.galleryImageContainer {
	padding: 10px;
	width: 250px;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.warningLabel {
	position: absolute;
	background-color: $violet;
	color: $light;
	border-radius: 3px;
	padding: 2px 8px;
	display: inline-block;
	z-index: 2;
	margin: auto;
	top: 15px;
	left: 35px;
	font-size: 12px;
}

.ant-image-img {
	width: auto !important;
}

.imageContainer {
	overflow: hidden;
	height: 190px;
	width: 190px;
	border: solid $light 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blurImage {
	filter: saturate(.4) blur(10px);
}