@import "theme";

.App {
  text-align: center;
}

.content {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

body {
	// background-color: #eaf1f8;
	background-image: linear-gradient(to bottom right, $backgroundTopColor, $backgroundBottomColor);
}
